* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    color: white;
    top: 20px;
    left: 140px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    margin-left: 5px;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px #111111;
    float: right;
}

p {
    padding: 0;
    margin-bottom: 40px;
    margin-left: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    text-decoration: none;
}

h1 {
    color: steelblue;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: #000;
}

/* Class Selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}