* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    color: white;
    top: 20px;
    left: 140px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    margin-left: 5px;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px #111111;
    float: right;
}

p {
    padding: 0;
    margin-bottom: 40px;
    margin-left: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

h1 {
    color: steelblue;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Class Selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}